/*

WELCOME TO THE DARK SIDE

"If you are reading this then this warning is for you. Every word you read of this useless fine print is another second off your life. 
Don't you have other things to do? Is your life so empty that you honestly can't think of a better way to spend these moments? Or are you so 
impressed with authority that you give respect and credence to all that claim it? Do you read everything you're supposed to read? 
Do you think every thing you're supposed to think? Buy what you're told to want? Get out of your apartment. Meet a member of the opposite sex. 
Stop the excessive shopping and masturbation. Quit your job. Start a fight. Prove you're alive. If you don't claim your humanity you will 
become a statistic. You have been warned." - Chuck Palahniuk, Fight Club


--

Design & Development
Kurtulus Birgoren
kbirgoren@gmail.com
https://www.linkedin.com/in/kbirgoren/


*/ 

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #fbfbfb
}
#header {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0 background: rgba(67, 61, 147, 1);
    background: -moz-linear-gradient(-45deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(67, 61, 147, 1)), color-stop(100%, rgba(67, 61, 147, 0)));
    background: -webkit-linear-gradient(-45deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    background: -o-linear-gradient(-45deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    background: linear-gradient(135deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#433d93', endColorstr='#433d93', GradientType=1);
    background-color: #433d93;
}
#header.h400 {
    height: 400px;
    -webkit-transition: height 400ms linear;
    -ms-transition: height 400ms linear;
    transition: height 400ms linear;
}
#header .ab {
    position: absolute;
    height: 200px;
    width: 200px;
}
#header .bl {
    background: url('img/header-bl.svg') bottom left no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0
}
#header .br {
    background: url('img/header-br.svg') bottom right no-repeat;
    background-size: contain;
    bottom: 0;
    right: 0;
}
#header .tl {
    background: url('img/header-tl.svg') top left no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
}
#header .tr {
    background: url('img/header-tr.svg') top right no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
}
#header .content,
#header .results {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box
}
#header .results {
    display: none
}
#header .filters {
    position: relative;
    margin-top: 25px
}
#header .filters .bar {
    width: 250px;
    height: 4px;
    background: #6b6bdb;
    border-radius: 5px;
    position: relative;
}
#header .filters .bar .fill {
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    left: 0;
    background: #fa4575;
    border-radius: 5px;
    -webkit-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;
}
#header .filters .distance a {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -45px;
    padding: 5px;
    border-radius: 200px;
    z-index: 100;
    cursor: pointer;
}
#header .filters .distance a.walk.selected,
#header .filters .distance a.bike.selected,
#header .filters .distance a.car.selected{
    background-color: #fa4575
}
#header .filters .distance a.walk {
    left: 0;
    background: url('img/walk.svg') center center no-repeat;
    background-color: #6b6bdb;
}
#header .filters .distance a.bike {
    left: 110px;
    background: url('img/bike.svg') center center no-repeat;
    background-color: #6b6bdb;
}
#header .filters .distance a.car {
    left: 220px;
    background: url('img/car.svg') center center no-repeat;
    background-color: #6b6bdb;
}
#header h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    text-align: center
}
#header h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    text-align: center
}
#header h4 {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
}
#header h4 span {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
#header .results h4 {
    margin-top: 20px;
    margin-bottom: 20px
}
#header .results h4 span {
    position: static;
}
#header h4 span.wait,
#header h4 span.denied {
    display: none;
}
#header h4 span.denied img {
    height: 32px;
    width: 32px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
#header .logo {
    width: 180px;
}
#header .pin {
    height: 40px;
}
#header .bt {
    width: 140px;
    height: 50px;
    background-color: #6b6bdb;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
#header .bt:hover {
    background: #8383ff;
}
#header .bt.loading {
    cursor: default;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
#header .bt.loading:before {
    position: absolute;
    content: '';
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 500rem;
    border: 0.2em solid rgba(0, 0, 0, 0.1);
}
#header .bt.loading:after {
    position: absolute;
    content: '';
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-animation: loader 0.6s linear;
    animation: loader 0.6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 0.2em;
    box-shadow: 0px 0px 0px 1px transparent;
}
#header .bt.loading:before,
#header .bt.loading:after {
    width: 20px;
    height: 20px;
    margin: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 10px;
}
@-webkit-keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#header .no {
    color: #6b6bdb;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
}
#places {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    min-height: 100px;
}
#places.loading {
    background: url('img/ajax-loader.gif') no-repeat top 50px center;
}
#places .venue {
    width: 30%;
    margin: 1.5%;
    height: 280px;
    display: inline-block;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    border-width: 1px 0px 0px 1px;
    border-color: #433d93;
    border-style: solid;
}
#places .venue {
    background: #2f297b
}
#places .venue:nth-child(odd) {
    background: #262165
}
#places .venue:hover .bg {
    transform: scale(1.1);
    opacity: .3
}
#places .venue .content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    box-sizing: border-box
}
#places .venue .content .details {
    position: absolute;
    top: 30px;
    left: 30px;
	padding-right:30px;
}
#places .venue .content .details .name {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: .4px;
    color: #fff;
    display: block;
    font-weight: bold;
    width: 220px;
}
#places .venue .content .details .cat {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: .4px;
    color: #efefef;
    display: inline-block;
    text-transform: uppercase;
    height: 32px;
    line-height: 32px;
    margin-bottom: 20px;
}
#places .venue .content .details .address {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    color: #989898
}
#places .venue .content .rating {
    font-size: 11px;
    color: #FFF;
    font-weight: 400;
    width: 30px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 30px
}
#places .venue .content .icon {
    float: left;
    border: 1px solid;
    margin-right: 10px;
}
#places .venue .content .icon,
#places .venue .content .icon img {
    width: 32px;
    height: 32px;
}
#places .venue .content .distance {
    font-size: 12px;
    color: #FFF;
    font-weight: 400;
    text-align: center;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: url('img/navigation.png') no-repeat;
    background-position: left center;
    padding-left: 22px
}
#places .venue .content .distance .washere {
    font-size: 10px;
    color: #989898;
    font-weight: 400;
}
#places .venue .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .1;
    z-index: 1;
    -webkit-filter: grayscale(1);
    transition: all 2s;
}
#places .venue .bg_overlay {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    background: rgba(67, 61, 147, 1);
    background: -moz-linear-gradient(-45deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(67, 61, 147, 1)), color-stop(100%, rgba(67, 61, 147, 0)));
    background: -webkit-linear-gradient(-45deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    background: -o-linear-gradient(-45deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    background: linear-gradient(135deg, rgba(67, 61, 147, 1) 0%, rgba(67, 61, 147, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#433d93', endColorstr='#433d93', GradientType=1);
}
@media screen and (max-width: 880px) {
    #places .venue {
        width: 46%;
        margin: 2%
    }
}
@media screen and (max-width: 750px) {
    #places .venue {
        width: 93%;
        margin: 3%
    }
	#header .ab{
		width:150px;
		height:150px;
	}
}
@media screen and (max-width: 400px) {
    #places .venue .content .rating {
        top: 20px;
        right: 20px;
    }
    #places .venue .content .details {
		padding-right:20px;
        top: 20px;
        left: 20px;
    }
    #places .venue .content .distance {
        bottom: 20px;
        left: 20px;
    }
	#header .ab{
		width:100px;
		height:100px;
	}
}